# IDE
**/.vscode/

# .NET build
bin/
obj/

# Python cache & venv
**/__pycache__/
*.pyc
**/.venv/
venv/
ENV/

# Publish / build logs
**/publish/
*.binlog

# Network captures / temp exports
*.pcapng
*.etl
buoi2/network_capture.txt
